<div *ngIf="isUserLogedIn() else loginFormTemplate" class="dropdown dropdown-end z-50">
  <div tabindex="0" role="button" class="btn btn-ghost btn-sm avatar p-1">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor"
      stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <circle opacity="0.5" cx="12" cy="9" r="3" stroke="currentColor" stroke-width="1.5" />
      <circle cx="12" cy="12" r="10" stroke="currentColor" stroke-width="1.5" />
      <path opacity="0.5" d="M17.9691 20C17.81 17.1085 16.9247 15 11.9999 15C7.07521 15 6.18991 17.1085 6.03076 20"
        stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
    </svg>
  </div>
  <ul tabindex="0" class="mt-2 p-1 shadow menu menu-sm dropdown-content bg-base-100 rounded-box w-40">
    <li><a routerLink="/settings" routerLinkActive="active">{{"HEADER.USER_DIALOG.SETTINGS" | translate}}</a></li>
    <li><a (click)="onLogoutClick()">{{"HEADER.USER_DIALOG.LOGOUT" | translate}}</a></li>
  </ul>
</div>

<ng-template #loginFormTemplate>
  <div class="flex-none">
    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="indicator flex items-center p-1" (click)="loginForm.resetForm()">
        <a class="flex items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M8 16C8 18.8284 8 20.2426 8.87868 21.1213C9.75736 22 11.1716 22 14 22H15C17.8284 22 19.2426 22 20.1213 21.1213C21 20.2426 21 18.8284 21 16V8C21 5.17157 21 3.75736 20.1213 2.87868C19.2426 2 17.8284 2 15 2H14C11.1716 2 9.75736 2 8.87868 2.87868C8 3.75736 8 5.17157 8 8" />
            <path opacity="0.5"
              d="M8 19.5C5.64298 19.5 4.46447 19.5 3.73223 18.7678C3 18.0355 3 16.857 3 14.5V9.5C3 7.14298 3 5.96447 3.73223 5.23223C4.46447 4.5 5.64298 4.5 8 4.5" />
            <path d="M6 12L15 12M15 12L12.5 14.5M15 12L12.5 9.5" />
          </svg>
          {{"HEADER.LOGIN" | translate}}
        </a>
      </div>
      <div class="card card-compact dropdown-content bg-base-100 z-50 mt-2 w-48 shadow">
        <div class="card-body p-2">
          <app-login-form [registerAllowed]="isRegisterAllowed()"></app-login-form>
        </div>
      </div>
    </div>
  </div>
</ng-template>
