<ng-container *ngFor="let visBlock of visBlocksWithAppointments">
  <div
    class="tile bg-base-100 text-primary-content transition duration-300  relative border-b border-primary z-5"
    [ngClass]="{ 'cursor-not-allowed opacity-50': visBlock.dashBlock, 'cursor-pointer ease-in-out hover:bg-accent': visBlock.appointments.length===0 && !visBlock.dashBlock }" [ngStyle]="{ 'height.px': tileHeight }"
    (click)="!visBlock.dashBlock && visBlock.appointments.length===0 && addAppointment(visBlock)">
    <ng-container>
      <div *ngIf="visBlock.dashBlock" class="absolute w-full h-full bg-base-300 rounded-lg">
      </div>
    </ng-container>

    <!-- Appointments Display -->
    <ng-container *ngIf="visBlock.appointments">
      <ng-container *ngFor="let appointment of visBlock.appointments; index as i">
        <div *ngIf="appointment.visBlockID === visBlock.id"
          class="absolute opacity-90 rounded-lg overflow-hidden" 
          style="padding: 1px;"
          [style.width.%]="appointment.width"
          [style.left.%]="appointment.left"
          [style.z-index]="6"
          [style.height.px]="appointment.viewHeight"
          [style.margin-top.px]="appointment.paddingTopBorder">
          <!-- Appointment Name and Edit -->
          <h1 class="bg-secondary select-none px-2 py-1 flex items-center justify-between rounded-lg h-full"
            [ngClass]="{ 'cursor-pointer ease-in-out hover:bg-accent': appointment.name !== '**' }"
            (click)="appointment.name !== '**' && editAppointment($event, appointment)">
            {{ appointment.name }}

            <!-- Delete Button -->
            <button *ngIf="appointment.name!=='**'"class="text-xs text-white hover:bg-red-600 rounded-full p-1 absolute top-2 right-2"
              (click)="deleteAppointment($event, appointment)" title="Delete appointment">
              <svg class="w-4 h-4" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path opacity="0.5"
                  d="M22 10.5V12C22 16.714 22 19.0711 20.5355 20.5355C19.0711 22 16.714 22 12 22C7.28595 22 4.92893 22 3.46447 20.5355C2 19.0711 2 16.714 2 12C2 7.28595 2 4.92893 3.46447 3.46447C4.92893 2 7.28595 2 12 2H13.5"
                  stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" />
                <path d="M22 2L17 7M17 2L22 7" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" />
              </svg>
            </button>
          </h1>
        </div>
      </ng-container>
    </ng-container>
  </div>
</ng-container>

<!-- Modal -->
<div *ngIf="formViewOpen" class="fixed inset-0 flex items-center justify-center z-50">
  <div class="fixed inset-0 bg-gray-800 opacity-60"></div>
  <div class="bg-base-100 p-10 rounded-box shadow-lg w-full max-w-md z-50">
    <app-appointment-form [(formViewOpen)]="formViewOpen" [appointmentBlock]="selectedBlock"
      [appointment]="selectedAppointment" [calendarID]="calendarID"
      (appointmentChange)="handleAppointmentModel($event)"></app-appointment-form>
  </div>
</div>
